name: build-engine-package

on:
  workflow_dispatch:
    inputs:
      ENGINE_VERSION:
        description: "Target Engine version."
        type: string
  push:
    branches: main
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        include:
          - target-key: cpu-x64
            target: cpu-package
            platform: linux/amd64
            os: ubuntu-latest
          - target-key: cuda-x64
            target: cuda-package
            platform: linux/amd64
            os: ubuntu-latest
          - target-key: cpu-arm64
            target: cpu-package
            platform: linux/arm64
            os: ubuntu-24.04-arm

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [registry."docker.io"]
              mirrors = ["mirror.gcr.io"]

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        if: ${{ startsWith(matrix.target-key, 'cuda') }}

      - name: Artifact name
        id: artifact-name
        run: |
          version=${{ inputs.ENGINE_VERSION }}
          if [[ ${{ matrix.target-key }} =~ ^cuda-.* ]]; then
            acceleration=cuda
          else
            acceleration=cpu
          fi
          if [[ ${{ matrix.target-key }} =~ .*-arm64$ ]]; then
            arch=arm64
          else
            arch=x64
          fi
          echo "ARTIFACT_NAME=voicevox_engine-linux-${acceleration}-${arch}-${version:-dev}" >> "$GITHUB_OUTPUT"

      - name: Build
        run: |
          set -o pipefail
          docker buildx bake ${{ matrix.target }} \
            --set=*.cache-from=type=gha,scope=${{ matrix.target-key }} \
            --set=*.output=type=tar,dest=- \
            --set=*.platform=${{ matrix.platform }} | \
          xz --compress > dist/${{ steps.artifact-name.outputs.ARTIFACT_NAME }}.tar.xz
        env:
          ENGINE_VERSION: ${{ inputs.ENGINE_VERSION }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact-name.outputs.ARTIFACT_NAME }}
          path: dist/voicevox_engine-*
          if-no-files-found: error
